# Created by .ignore support plugin (hsz.mobi)
.idea/dataSources.ids
.idea/dataSources.local.xml
.idea/dataSources.xml
TaskBlogApp/forms.pyc
TaskBlogApp/migrations/0006_auto_20160718_0942.py
TaskBlogApp/migrations/0006_auto_20160718_0942.pyc
TaskBlogApp/migrations/0007_auto_20160718_1037.py
TaskBlogApp/migrations/0007_auto_20160718_1037.pyc
TaskBlogApp/migrations/0008_auto_20160718_1038.py
TaskBlogApp/migrations/0008_auto_20160718_1038.pyc
*.pyc
*db.sqlite3
.idea
